aside {
    float: left;
    display: inline-block;
    border: 5px solid red;
    border-radius: 20px;
    width: 10%;
}
.aside_buttons, .header_buttons{
    border-radius: 20px;
    width: 90%;
    margin: 5% 5% 5% 5%;
    display: block;
}

.header_buttons {
    width: 100%;
    margin: 0px auto;
}

header {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 50px;
    border: 5px solid red;
    border-radius: 20px;
}

.header_ul{
    list-style: circle;
}

.header_ul li{
    display: inline-block;
}

.body_section {
    width: 80%;
    display: inline-block;
    margin-left: 5%;
}

.img_container {
    margin: 0px auto;
    width: 80%;
}
